@font-face {
	font-family: VSK;
	src: url(/fonts/VSKRegular.ttf);
}

.vsk-font {
	font-family: 'VSK', sans-serif;
	background: var(--site-gradient) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	color: transparent !important;
}
